{% extends 'stock/layout.html'%}
{%block content%}
{% load static %}
<link rel="stylesheet" href="{% static 'stock/css/edit.css' %}">
<div class="container" >

{% if item %}
<form action="" method="post">
    {%csrf_token%}
<div class="row">
    <p>สินค้า</p>
    <p>{{item.name}}</p>
</div><div class="clr"></div>
<div class="row">
    <p>ราคา</p>
    <p><input name="type" value="{{item.price}}"></p>
</div><div class="clr"></div>
<div class="row">
      <p>ประเภท</p>
      <p>
          <input type="hidden" name="type" value="{{item.type}}">
          <p onclick="popup_type()" id="type_selectd"> type</p>
      </p>
</div>
<div class="clr"></div>
<div class="row">
  <p>
          <input class="w3-btn" type="submit" value="Update"/></p>
  <p>
          <a class="w3-btn" href="{%url 'stock:list_item'%}"><input type="button" value="Cancel" /></a></p>

</div><div class="clr"></>
  <div class="row">
    <p>ลบสินค้าออกจาก ฐานข้อมูล</p>
    <p><input type="submit" name="DELETE" class="btn btn-danger" value="ลบ {{item.name }}"</p>

  </div><div class="clr">

    <div id="popup">
      <ul>
            <li value="1" onclick="select_type(this)" onblur="blur_type()">Ticket</li>
            <li value="2" onclick="select_type(this)" onblur="blur_type()">Air pay</li>
            <li value="3" onclick="select_type(this)" onblur="blur_type()">Food</li>
      </ul>

    </div>

  </div>
</form>
{% else %}
ไม่พบข้อมูล
{% endif %}


</div>
{%endblock%}
{%block script%}
<script type="text/javascript" src="{% static 'stock/scripts/edit.js' %}">

</script>

{%endblock%}
