
<!--

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
-->
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">
  <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( ".datepicker" ).datepicker({
    minDate:"-5d",
    maxDate:"+0d"
    });
  } );
  </script>
<button onclick="show()">clickme</button>
<div class="container" id="getdate" >
<p>start date: <input type="text" id="startdate" class="datepicker"></p>
<p>end date: <input type="text" id="enddate" class="datepicker"></p>
</div>
 <script>
 document.getElementById("getdate").style.display = "none";
function show() {
  element=document.getElementById("getdate")
  if(element.style.display=="none"){
  element.style.display="block";
  }
  else{
  element.style.display="none";
  }
}
</script>

