{% if incomes %}
<table class="table table-dark">
{%for income in incomes %}
<tr>
    <td class="col-md-3">{{income.date_log}}</td>
    <td class="col-md-1">{{income.name}}</td>
    <td class="col-md-1"><p class="text-success"> {{income.value}}</p></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if expenses %}
<table class="table table-dark">
{%for expense in expenses %}
<tr>
    <td class="col-md-3">{{expense.date_log}}</td>
    <td class="col-md-1"><center>{{expense.name}}</center></td>
    <td class="col-md-1"><p class="text-danger"> {{expense.value}}</p></td>
</tr>
{% endfor %}
</table>
{% endif %}

{% if temps %}
<table class="table table-dark">
{%for temp in temps %}
<tr>
    <td class="col-md-3">{{temp.date_log}}</td>
    <td class="col-md-1"><center>{{temp.name}}</center></td>
    <td class="col-md-1"><p class="text-danger"> {{temp.value}}</p></td>
</tr>
{% endfor %}
</table>
{% endif %}