{% extends "stock/layout.html"%}

{%block content%}
<div class="row">
    <div class="container" id="getdate"  style="display:none;">
  <div class="row">
    <div class="col-sm-3">Start date<input type="text" id="starlistdate" class="datepicker1"></div>
    <div class="col-sm-3">End date<input type="text" id="endlistdate" class="datepicker1"></div>
  </div>
</div>
</div>
            <div class="row">
              <div class="col-md-6">
                    {% include 'stock/display/index_main.html' %}

                    {% include 'stock/display/index_income.html' %}
              </div>
              <div class="col-md-6">
                <div class="content-section">
                    {% include 'stock/display/index_sidebar.html' %}
                </div>
              </div>
            </div>
{% endblock content %}


{% block script %}
<script>
function showgetdate() {
  element=document.getElementById("getdate")
  if(element.style.display=="none"){
  element.style.display="block";
  }
  else{
  element.style.display="none";
  }
}

</script>
{% endblock script %}