
{% if top_ups %}
    <table class="table" >
        {% for top_up in top_ups %}
            <tr >
                {% for fill in top_up %}
                    {% if forloop.first %}
                        {% ifequal fill 'date' %}
                            <th class="coldate">สต๊อกเก่า</th>
                        {% else %}
                            <th class="coldate">{{fill}}</th>
                        {% endifequal %}

                    {% else %}
                        <td class="colcontent">{{fill}}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
{% endif %}