<div class="content-group"><h1>topup list</h1></div>
{% if top_ups %}
    <table class="table table-dark" >
        {% for top_up in top_ups %}
            {% ifequal forloop.counter 1 %}
                <tr>
                <th>ชื่อ</th>
                    {% for item in top_up %}
                        <th>{{item.name}}</th>
                    {% endfor %}
                        </tr>
            {% else %}
                        <tr>
                        <th>day</th>
                    {% for fill in top_up %}
                        <td>{{fill.item.name}}={{fill.date_log}}={{fill.value}}</td>
                    {% endfor %}
                        </tr>
            {% endifequal %}
        {% endfor %}
        </tr>
    </table>
{% endif %}