{% if incomes %}
<!--<table class="table table-dark"> -->
{%for income in incomes %}
<tr>
    <th >
        {{income.date_log}}
    </th>
    <td >{{income.name}}</td>
    <td></td><td></td><td></td>
    <td ><p class="text-success"> {{income.value}}</p></td>
    <td>{% if forloop.last %}
        {{sum_income}} {% endif %}</td>
</tr>
{% endfor %}
{% endif %}

{% if expenses %}
{%for expense in expenses %}
<tr>
    <td >{{expense.date_log}}</td>
    <td >{{expense.name}}</td>
    <td></td><td></td><td></td>
    <td ><p class="text-danger"> {{expense.value}}</p></td>
    <td>{% if forloop.last %}
        {{sum_expense}} {% endif %}</td>
</tr>
{% endfor %}
{% endif %}

{% if temps %}
{%for temp in temps %}
<tr>
    <td >{{temp.date_log}}</td>
    <td >{{temp.name}}</td>
    <td></td><td></td><td></td>
    <td ><p class="text-danger"> {{temp.value}}</p></td>
    <td>{% if forloop.last %}
        {{sum_temp}} {% endif %}</td>
</tr>
{% endfor %}
</table>
{% endif %}