
<table class="table">
    <tr>
        <th class="coldate">date</th>
        <th class="colcontent">name</th>
        <th class="colcontent">value</th>
        <th class="colcontent">summaries</th>

    </tr>
{% if incomes %}
<!--<table class="table table-dark"> -->
{%for income in incomes %}
<tr>
    <th class="coldate">
        {{income.date_log}}
    </th>
    <td class="colcontent">{{income.name}}</td>
    <td class="colcontent text-success">{{income.value}}</td>
    <td class="colcontent">{% if forloop.last %}
        {{sum_income}} {% endif %}</td>
</tr>
{% endfor %}
{% endif %}

{% if expenses %}
{%for expense in expenses %}
<tr>
    <td class="coldate">{{expense.date_log}}</td>
    <td class="colcontent">{{expense.name}}</td>
    <td class="colcontent text-danger"> {{expense.value}}</td>
    <td class="colcontent">{% if forloop.last %}
        {{sum_expense}} {% endif %}</td>
</tr>
{% endfor %}
{% endif %}

{% if temps %}
{%for temp in temps %}
<tr>
    <td class="coldate">{{temp.date_log}}</td>
    <td class="coldate">{{temp.name}}</td>
    <td class="colcontent text-danger">{{temp.value}}</td>
    <td class="colcontent">{% if forloop.last %}
        {{sum_temp}} {% endif %}</td>
</tr>
{% endfor %}
{% endif %}
</table>
   <input class="btn btn-success" type="button" value="Update" onclick="submit()" id="submit" />


    </form>

