{% extends 'stock/layout.html' %}
{% block content %}
{% if incomes %}
<div class="container">
    {% for income in incomes %}
        <div class="row">
            <div class="col-md-3">{{income.date_log}}</div>
            <div class="col-md-1">{{income.name}}</div>
            <div class="col-md-1">{{income.value}}</div>
            <div class="col-md-1"><a href="{% url 'stock:edit_income' income.id %}"><button>Edit</button></a> </div>
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-3">
            <a class="btn btn-success" href="{% url 'stock:create_statement' %}">เพิ่มรายการ</a>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}