
        <li class="nav-item">
                <a class="btn text-white"  href="{% url 'stock:list_item' %} ">สินค้า</a>
        </li>

        <li class="nav-item">
                <li><a class="btn text-white" href="{% url 'stock:list_top_up' %}">เติมสินค้า</a>
        </li>

        <li class="nav-item">
            <a class="btn text-white" href="{% url 'stock:list_income' %}">Income</a>
        </li>

        <li class="nav-item">
            <a class="btn text-white" href="{% url 'stock:list_expense' %}">Expense</a></li>
        <li class="nav-item">
            <a class="btn text-white" href="{% url 'stock:list_temp' %}">Temp</a>
        </li>