
{% if is_Display_reset %}
    {% ifequal is_Display_reset '1' %}
        <li>
            <a class="btn text-white" href="{% url 'account_control:reset_index' %}">Reset Data</a>
        </li>

    {% endifequal %}
        <li>
            <a onclick="showgetdate()" class="btn text-white">getdate</a>
        </li>
{% endif %}




{% if user.is_authenticated %}
    <li class="nav-item">
        <a class="btn text-white" href="{% url 'account_control:logout' %}">Logout</a>
    </li>
{% else %}
     <li>
        <a class="btn text-white" href="{% url 'account_control:index' %}">Login</a>
    </li>
    <li class="nav-item">
        <a class="btn text-white" href="{% url 'account_control:register' %}">Register</a>
    </li>
{% endif %}
