body{
  background-image: url("images/bgimage.jpg");
  color: white;
  text-family: arial,sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  margin: 0;
}
.clr{
  clear: both;
}
#navbar{
  color: #fff;
  float: left;
}
#navbar ul{
  padding: 0;
  list-style: none;
}
#navbar li{
  display: inline;
}
#navbar a{
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  padding-right: 15px;
}
#navbar a:hover{
  color: pink;
}











@@media(max-width=600px) {

}
